BILLING_PUBLIC_URL=https://facture.jzrzr.com
BILLING_API_HOST_PORT=3300
AWS_REGION=us-east-1
SQS_ACCOUNT_ID=263366483766
SQS_QUEUE_PREFIX=facture-beta
R2_ENDPOINT=https://c51acf27e2d666d9fd315c0145074b1e.r2.cloudflarestorage.com
R2_REGION=auto
R2_BUCKET=facture-beta-private
SUNAT_BETA_ISSUER_RUC=20615234762
FACTURE_IMAGE_PREFIX=ghcr.io/jezer10/facture_app
BILLING_EGRESS_SUBNET=172.31.250.0/24
BILLING_EGRESS_GATEWAY=172.31.250.1
